<?xml version="1.0" encoding="utf-8" ?>
<Emulator>
  <Types>
    <GpioPort>Microsoft.SPOT.Emulator.Gpio.GpioPort</GpioPort>
  </Types>

  <EmulatorComponents>
    <GpioPort id="RelayGP">
      <Pin>21</Pin>
      <ModesAllowed>OutputPort</ModesAllowed>
      <ModesExpected>OutputPort</ModesExpected>
    </GpioPort>
    <GpioPort id="I2CSclGP">
      <Pin>51</Pin>
      <ModesAllowed>OutputPort</ModesAllowed>
      <ModesExpected>OutputPort</ModesExpected>
    </GpioPort>
    <GpioPort id="I2CSdaGP">
      <Pin>52</Pin>
      <ModesAllowed>OutputPort</ModesAllowed>
      <ModesExpected>OutputPort</ModesExpected>
    </GpioPort>
  </EmulatorComponents>

</Emulator>